<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mock ChatRoom Insert</title>
    <style>
        input, button { padding: 3px; }
    </style>
</head>
<body style="margin: 40px;">
    <h1>채팅방 생성</h1>
    <form action="/chat/initRoom" method="post">
        <input type="text" name="ownerName" placeholder="Owner의 UID"><br><br>
        <input type="text" name="roomName" placeholder="Room의 이름"><br><br>
        <input type="text" name="nameStr" placeholder="Member의 UID를 ,로 구분"><br><br>
        <button type="submit">확인</button>
    </form>
</body>
</html>