<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <header th:replace="~{fragments/base :: head}"></header>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <script src="/js/apexChart.js"></script>
  <style>
    td { text-align: center; }
  </style>
  <script>
    window.onload = () => {
      startSSE();
    }
  </script>
</head>
<body>
  <div th:insert="~{fragments/base :: top}"></div>

  <div class="container" style="margin-top:80px">
    <div class="row">
      <div class="col-3">
        <aside th:replace="~{fragments/base :: aside('/img/stock.png')}"></aside>
      </div>

      <div class="col-9">
        <main>
          <table class="table table-sm table-borderless">
            <tr>
              <td style="width: 39%; text-align: left">
                <h3>
                  <strong>Candle Chart</strong>
                </h3>
              </td>
              <td style="width: 10%">
                <input class="form-control" type="date" id="startDay" th:value="${startDay}">
              </td>
              <td style="width: 3%;">&#126;</td>
              <td style="width: 10%">
                <input class="form-control" type="date" id="endDay" th:value="${endDay}">
              </td>
              <td style="width: 20%">
                <input class="form-control" type="text" id="ticker" onkeypress="handleEnterKey(event)" placeholder="Ticker 입력">
              </td>
              <td style="width: 8%">
                <button class="btn btn-outline-primary" onclick="getCandleData()">검색</button>
              </td>
            </tr>
          </table>
          <hr>
          <div id="candleChart"></div>
        </main>
      </div>
    </div>
  </div>
</body>
</html>
